@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

:root {
    --black: #1B2430;
    --white: #FFFFFF;
    --beige: #FF884B;
    --red: #D2001A;
    --yellow: #FFDE00;
    --green: #6EC080;
}

/* GENERAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

body, input, textarea, button {
    font-size: 14px;
    font-family: 'Barlow', sans-serif;
}

a {
    color: var(--black);
    text-decoration: none;
}

a:visited {
    color:  var(--black);
}

input, textarea {
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 5px 20px;
}

button {
    background-color: inherit;
    border: 0 none black;
    padding: 0;
}

button:hover {
    cursor: pointer;
}

li {
    list-style: none;
}

.hidden {
    display: none;
}

/* HEADER */

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation div {
    display: flex;
    justify-content: center;
}

.navigation a {
    margin: 0 1em;
}

.notes-button img, .notes-button span{
    margin: 0 auto;
    display: block;
}

.notes-button__delete {
    
}

.notes-button__add {
    
}


.notes-button__archive {

}

.notes-button__unarchive {

}

.max-alert {
    visibility: hidden;
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1440px) {

}
