@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

:root {
    --black: #1B2430;
    --white: #FFFFFF;
    --blue: #070121;
    --top-gap: 6em;
}

/* GENERAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

body, input, textarea, button {
    font-size: 14px;
    font-family: 'Barlow', sans-serif;
}

a {
    color: var(--black);
    text-decoration: none;
}

a:visited {
    color:  var(--black);
}

input, textarea {
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 5px 20px;
}

button {
    background-color: inherit;
    border: 0 none black;
    padding: 0;
}

button:hover {
    cursor: pointer;
}

h3 {
    font-size: 1.5em;
}

p {
    margin: 0.5em 0;
    line-height: 1.5em;
}

li {
    list-style: none;
}

.hidden {
    display: none !important;
}

.notes-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
}

.notes-button img, .notes-button span{
    display: block;
}

.notes-button img {
    width: 2em;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    z-index: 999;
    height: var(--top-gap);
    display: flex;
    align-items: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .18);
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation div {
    display: flex;
    justify-content: center;
    margin: 0 1em;
}

.home-page-button img, .archive-page-button img, .log-out-button img {
    width: 3em;
}

.add-page-button {
    position: fixed;
    bottom: 2em;
    right: 1em;
}

.add-page-button img {
    background-color: var(--white);
    border-radius: 50%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .18);
    margin: 0;
    width: 4em;
}

/* LOGIN & REGISTER */

.login-form, .register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 2em auto;
}

.login-form input, .register-form input {
    margin: .5em 0;
}

/* MAIN */

main {
    margin-top: var(--top-gap);
}

.homepage, .archived-notes, .detail-page, .note-add-section, .not-found-alert {
    padding: 2em 0 1em;
}

.list-notes {
    margin: 2em 0 0;
}

.note-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.note-card, .note-detail {
    margin: 1em 2em;
    padding: 1em;
    text-align: justify;
    border: 1px solid var(--blue);
    box-sizing: border-box;
}

.head-thumbnail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    margin: .5em;
    display: flex;
    justify-content: center;
}

.note-add-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-form {
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    width: 80%;
}

.input-form input, .input-form textarea, .input-form button {
    margin: .5em 0;
}

.max-alert {
    visibility: hidden;
}

.not-found-alert button{
    margin: 1em 0 0;
}

@media (min-width: 768px) {
    .list-notes, .archived-notes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .note-card {
        width: 40%;
    }

    .login-form, .register-form {
        width: 70%;
    }
}

@media (min-width: 992px) {
    body, input, textarea, button {
        font-size: 16px;
    }

    .login-form, .register-form {
        width: 50%;
    }
}

@media (min-width: 1440px) {
    .note-card {
        width: 25%;
    }

    body, input, textarea, button {
        font-size: 18px;
    }
}
